<div class="container mt-5">
    <div class="row">
        <div class="col">
            <select id="Categorias" placeholder="Escolha uma Categoria">
                <option value="">Escolha uma Categoria</option>
                @foreach (var item in ViewBag.CategoriasOficina)
                {
                    <option value="@item.Nome, @item.Id">@item.Nome</option>
                }
            </select>
        </div>

        <div class="col">
            <select id="Serviços" placeholder="Escolha um Serviço">
                <option value="">Escolha um Serviço</option>
                @if (ViewBag.ServiçosOficina != null)
                {
                    foreach (var item in ViewBag.ServiçosOficina)
                    {
                    <option value="@item.Nome, @item.Preço.ToString("F"), @item.Fk_Categoria_Id">@item.Nome, @item.Preço.ToString("F")</option> //dar identificador html para remover com javascript quando de certa categoria
                    }
                }
            </select>
        </div>

        <div class="col">
            <button onclick="AddItem()">Adicionar Serviço</button>
        </div>

        <div id="corpo" class="mt-5 d-none">

        </div>
    </div>
</div>


@section scripts
{ 
<script>

    function AddItem() {
        let categoria = $('#Categorias').val();
        let array1 = categoria.split(", ");
        let categoriaNome = array1[0];

        let serviço = $('#Serviços').val();
        let array = serviço.split(", ");
        let serviçoNome = array[0];
        let serviçoPreço = array[1];

        $('#corpo').append('<div class="row"><div class="col">' + categoriaNome + '</div><div class="col">' + serviçoNome + '</div><div class="col">' + serviçoPreço + '</div></div>')

        if ($("#corpo").hasClass("d-none")) {
            $("#corpo").removeClass("d-none");
        }

    }

    $(document).ready(function () {

        var InputServiço = $('#Serviços').selectize({
            sortField: 'text'
        });

        var selectize = InputServiço[0].selectize.disable();

        $('#Categorias').selectize({
            sortField: 'text',
            onChange: function () {
                eventHandler(InputServiço);
            }
        });

    });

    function eventHandler(InputServiço) {

        InputServiço[0].selectize.enable();

        let categoria = $('#Categorias').val();
        let array1 = categoria.split(", ");
        let categoriaId = array1[1];
        console.log(categoriaId);

        let serviço = $('#Serviços').val();
        let array2 = serviço.split(", ");
        let serviçoCategoria = array2[2];
        console.log(serviçoCategoria);

        if (categoriaId != serviçoCategoria && serviçoCategoria != null) {
            $(serviçoCategoria).addClass("d-none");
            console.log('Classe Adicionada!');
        }
        else if (categoriaId == serviçoCategoria) {
            $(serviçoCategoria).removeClass("d-none");
            console.log('Classe Removida!');
        }
    };

</script>
}