@model Projeto_TCC_2022.Models.ViewModels.DetalhesOrçamento

<div id="Status" class="row mt-2">
    <div class="col-md-4 pe-0">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="smallHeader mt-5">
                    Nome da Oficina
                </h4>
                <h3 class="bigHeader mt-3">
                    <a class="text-decoration-none" href="@Url.Action("Page", "Oficina", Model.Oficina.Id)"> @Model.Oficina.Nome</a>
                </h3>
                @if (Model.Imagem != null)
                {
                    <img src="@Model.Imagem.Url" class="rounded-circle w-25" />
                }
                <h4 class="smallHeader mt-5">
                    Placa do Veículo:
                </h4>
                <h3 class="bigHeader mt-3">
                    @Model.Carro.Placa
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card h-100">
            <div class="card-header cardHeader">
                <div>
                    <span class="smallHeader">Data de Criação:</span>
                    <h6 class="bigHeader d-inline-block">@Model.Orçamento.Data_Orçamento</h6>
                </div>

                @if (Model.Orçamento.Data_Aprovação != null)
                {
                    <div>
                        <span class="smallHeader">Data de Aprovação:</span>
                        <h6 class="bigHeader d-inline-block">@Model.Orçamento.Data_Aprovação</h6>
                    </div>
                }
            </div>

         @if (Model.ItensOrçamento != null)
          {
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3"><h6 class="smallHeader">Nome do Item:</h6></div>
                    <div class="col-md-2"><h6 class="smallHeader">Tipo do Item:</h6></div>
                    <div class="col-md-2"><h6 class="smallHeader">Valor Mínimo:</h6></div>
                    <div class="col-md-2"><h6 class="smallHeader">Valor Máximo:</h6></div>
                    <div class="col-md-2"><h6 class="smallHeader">Valor Definido:</h6></div>
                </div>

                @foreach (var item in Model.ItensOrçamento)
                {
                    <div class="row mt-4">
                        @{
                            var count = 1;
                            Projeto_TCC_2022.Models.Serviço x = Model.Serviços.Where(i => i.Nome == item.Nome).SingleOrDefault();
                            Projeto_TCC_2022.Models.Peça y = Model.Peças.Where(i => i.Nome == item.Nome).SingleOrDefault();

                            <div class="col-md-3"><h5 class="bigHeader">@item.Nome</h5></div>
                            if (x != null)
                            {
                                <div class="col-md-2"><h5 class="bigHeader">Serviço</h5></div>
                                <div class="col-md-2"><h5 class="bigHeader">@Convert.ToDecimal(x.PreçoMin).ToString("F")</h5></div>
                                <div class="col-md-2"><h5 class="bigHeader">@Convert.ToDecimal(x.PreçoMax).ToString("F")</h5></div>
                            }
                            if (y != null)
                            {
                                <div class="col-md-2"><h5 class="bigHeader">Peça</h5></div>
                                <div class="col-md-2"><h5 class="bigHeader">@Convert.ToDecimal(y.PreçoMin).ToString("F")</h5></div>
                                <div class="col-md-2"><h5 class="bigHeader">@Convert.ToDecimal(y.PreçoMax).ToString("F")</h5></div>
                            }
                            count++;

                        }
                    </div>
                }

                <div class="mt-5 bigHeader">
                    <h3>Total: @Convert.ToDecimal(Model.Orçamento.Valor).ToString("F")</h3>
                </div>

            </div>
          }

         @if (Model.ItensOrçamento == null)
          {
             <div class="card-body">
                 <div class="text-center">
                     <h3>Sem itens até o momento.</h3>
                 </div>
             </div>
          }
    </div>
    </div>
</div>
