
@using (Html.BeginForm("ConfirmarDeletarOrçamento", "Orçamento", FormMethod.Post))
{
    <div class="container mt-5">
        <div class="row text-center mt-3">
            <div class="col">@ViewBag.Pessoa.Nome</div>
            @if (ViewBag.Orçamento.Tipo == 1)
            {
                <div class="col">R$ @ViewBag.Orçamento.Valor.ToString("F")</div>
            }
            <div class="col">@ViewBag.Carro.Marca @ViewBag.Carro.Modelo</div>
        </div>
    </div>

    <input type="hidden" name="Id" value="@ViewBag.Orçamento.Id" />

    <div class="text-center mt-4">
        @if (ViewBag.Orçamento.Status == 0)
        {
            if (ViewBag.Orçamento.Tipo == 1)
            {
                <div class="row">
                    <div class="col">

                        <button class="btn btn-success" type="submit" name="Operação" value="1">Aceitar Orçamento</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-success" type="submit" name="Operação" value="3">Recusar Orçamento</button>
                    </div>
                </div>
            }
            if (ViewBag.Orçamento.Tipo == 2)
            {
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success" type="submit" name="Operação" value="1">Aceitar Análise</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-success" type="submit" name="Operação" value="3">Recusar Análise</button>
                    </div>
                </div>
            }
        }

        @if (ViewBag.Orçamento.Status == 1)
        {
            <button class="btn btn-secondary" type="submit" name="Operação" value="2">Finalizar Orçamento</button>
        }
    </div>

}