
@using (Html.BeginForm("ConfirmarDeletarOrçamento", "Orçamento", FormMethod.Post, new {id = "id"}))
{
    <div class="container mt-5">
        <div class="row text-center mt-3">
            <div class="col">@ViewBag.Pessoa.Nome</div>
            @if (ViewBag.Orçamento.Tipo == 1)
            {
                <div class="col">R$ @ViewBag.Orçamento.Valor.ToString("F")</div>
            }
            <div class="col">@ViewBag.Carro.Marca @ViewBag.Carro.Modelo</div>
        </div>
    </div>

    <input type="hidden" name="Id" value="@ViewBag.Orçamento.Id" />

    <div class="text-center mt-4">
        @if (ViewBag.Orçamento.Status == 0)
        {
            if (ViewBag.Orçamento.Tipo == 1)
            {
                <div class="row">
                    <div class="col">

                        <button class="btn btn-success" type="submit" name="Operação" value="1">Aceitar Serviço</button>
                    </div>
                    <div class="col">
                        <input class="d-none" type="submit" name="Operação" id="Operação" value="4" />
                        <button class="btn btn-danger" onclick="Confimar()">Recusar Serviço</button>
                    </div>
                </div>
            }
            if (ViewBag.Orçamento.Tipo == 2)
            {
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success" type="submit" name="Operação" value="1">Aceitar Análise</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger" onclick="Confirmar()">Recusar Análise</button>
                        <input class="d-none" type="submit" name="Operação" id="Operação" value="4" />
                    </div>
                </div>
            }
        }

        @if (ViewBag.Orçamento.Status == 1)
        {
            <h3>Confirmado! Aguardando que o cliente avalie a proposta final do orçamento.</h3>
        }

        @if (ViewBag.Orçamento.Status == 2)
        {
            <button class="btn btn-secondary" type="submit" name="Operação" value="3">Finalizar Orçamento</button>
        }

        <div id="dialog-confirm" title="Recusar Orçamento?" class="d-none">
            <p><span class="ui-icon ui-icon-alert"></span>Recusar o orçamento é um ato permanente. Você tem certeza dessa ação?</p>
        </div>

    </div>
}

@section scripts
{
    <script>

        function Submit() {
            $("#Operação").trigger('click');;
        }

        function Confirmar() {
            $("#dialog-confirm").dialog({

                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: [
                    {
                        text: "Recusar Orçamento",
                        click: function () {
                            Submit();
                        }
                    },
                    {
                        text: "Retornar",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        };
    </script>
}