
@for (int i = 0; i < ViewBag.Orçamentos.Count; i++)
{
    <div class="row mb-3">
        <div class="col">
            @if (@ViewBag.Orçamentos[i].Tipo == 1)
            {
                <p>Solicitação de Serviço:</p>
            }
            @if (@ViewBag.Orçamentos[i].Tipo == 2)
            {
                <p>Solicitação de Análise:</p>
            }

        </div>
        <div class="col">
            @if (ViewBag.Orçamentos[i].Valor != null)
            {
                @ViewBag.Orçamentos[i].Valor.ToString("F")
            }
        </div>
        <div class="col">
            @ViewBag.Pessoas[i].Nome
        </div>

        <div class="col">
            @ViewBag.Carros[i].Placa
        </div>
        <div class="col">
            @ViewBag.Orçamentos[i].Data_Orçamento.ToString("dd MM YYYY, HH:mm")
        </div>
        <div class="col">
            @Html.ActionLink("Ver Detalhes", "StatusOrçamentoOficina", "Orçamento", new { Id = ViewBag.Orçamentos[i].Id }, null)
        </div>
    </div>
    }


