@model Projeto_TCC_2022.Models.Classes.AddItemOrçamento2View

@{
    decimal Min = 0, Max = 0;
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <select id="Categorias" placeholder="Escolha uma Categoria">
                <option value="">Escolha uma Categoria</option>
                @foreach (var item in Model.Categorias)
                {
                    <option value="@item.Id">@item.Nome</option>
                }
            </select>
        </div>


        <div class="col" id="DivServiço">
            <select id="Serviços" placeholder="Escolha um Serviço">
                <option value="">Escolha um Serviço</option>
            </select>
        </div>


        <div class="col">
            <button onclick="AddItem('Serviço')">Adicionar Serviço</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12" id="DivPeça">
            <select id="Peças" placeholder="Escolha uma Peça">
                <option value="">Escolha uma Peça</option>
                @foreach (var item in Model.Peças)
                {
                    <option value="@item.Id">@item.Nome</option>
                }
            </select>
        </div>
        <div class="col-md-6 col-sm-12">
            <button onclick="AddItem('Peça')"></button>
        </div>
    </div>

    <div class="container mt-5" id="corpo">

        @foreach (var item in Model.Padrão)
        {

            <div class="row itemOrçamento">
                <div class="col">
                    <p>@item.Nome</p>
                </div>
                <input class="d-none serviçosId" value="@item.Id" />
                <div class="col">
                    @if (item.PreçoMin != null)
                    {
                        Min = (decimal)item.PreçoMin;
                        <p class="preço">@Min.ToString("F")</p>
                    }
                    @if (item.PreçoMax != null)
                    {
                        Max = (decimal)item.PreçoMax;
                        <p class="preço">@Max.ToString("F")</p>
                    }

                </div>

                <div class="col">
                    <input class="form-control itemOrçamentoValue" data-val="true" data-val-required="Campo Requerido" @if (item.PreçoMin != null) { <text> min="@Min" </text> } @if (item.PreçoMin != null) { <text> max="@Max" </text> } data-val-number="Valor precisa ser um número." />
                </div>
            </div>
        }
    </div>
    <div class="container mt-5" id="total"></div>
    <div class="text-center"><button onclick="LimparOrçamento()">Limpar Escolhas</button></div>
    <div id="erro"></div>
    <div class="text-center"><button onclick="Submit()" class="btn btn-default">Confirmar</button></div>

</div>

@section scripts{

    <script>

        function AddItem(x) {
            if (x == 'Serviço') {
                var itemId = $("#Serviços").val();
            }

            if (x == 'Peça') {
                var itemId = $("#Peças").val();
            }

            $.ajax
            ({
                type: 'GET',
                url: "/NewOrçamento/ItemOrçamentoPartial2/" + itemId + "?Tipo=" + x,
                dataType: 'html',
                cache: false,
                success: function (data) {
                    $('#corpo').append(data);

                    var serviços = $(".serviçosId").map((_, item) => item.value).get();
                    var peças = $(".peçasId").map((_, item) => item.value).get();
                    var final = $(".itemOrçamentoValue").map((_, item) => item.value).get();

                    $.ajax
                    ({
                        type: 'GET',
                        url: "/NewOrçamento/TotalPartial2/",
                        data: {
                            serviços: serviços,
                            peças: peças,
                            final: final
                        },
                        dataType: 'html',
                        cache: false,
                        success: function (data) {
                            $('#total').html(data);
                        }
                    })

                }
            });
        }

        function eventHandler(InputCategoria) {
            var CategoriaController = InputCategoria[0].selectize;
            var categoriaId = CategoriaController.getValue();
            console.log("Executado");

            var url = "/NewOrçamento/ServiçosDisponiveisPartial/?categoriaId=" + categoriaId + "&oficinaId=" + @Model.Oficina.Id;

            $.ajax
            ({
                type: 'GET',
                url: url,
                dataType: 'html',
                cache: false,
                success: function (data) {
                    $('#DivServiço').html(data);
                },
                error: function () {
                    console.log("Erro");
                }
            }).done(function () {
                var InputServiço = $('#Serviços').selectize({
                    sortField: 'text'
                });
                console.log("Partial JS rodado");
            });
        };

        $(document).ready(function () {

            var InputServiço = $('#Serviços').selectize({
                sortField: 'text'
            });

            var ServiçoController = InputServiço[0].selectize;

            ServiçoController.disable();

            var InputCategoria = $('#Categorias').selectize({
            sortField: 'text',
            onChange: function () {
                eventHandler(InputCategoria);
            }
            });
        });

        function LimparOrçamento() {
            $(".itemOrçamento").empty();
            $("#total").empty();

            $.ajax
            ({
                type: 'GET',
                url: "/NewOrçamento/LimparOrçamento2",
                dataType: 'html',
                cache: false,
                error: function () {
                    console.log("Erro");
                }
            });
        }

        function Submit() {

            var ItensId = $(".itemOrçamentoId").map((_, item) => item.value).get();
            var ItensTipo = $(".itemOrçamentoTipo").map((_, item) => item.value).get();
            var ItensValue = $(".itemOrçamentoValue").map((_, item) => item.value).get();

            var Itens = [];


            for (i = 0; i < ItensId.length; i++) {
                var Item = {};
                Item['Id'] = ItensId[i];
                Item['Tipo'] = ItensTipo[i];
                Item['Value'] = ItensValue[i];
                Itens.push(Item);
            }

            var Final = $("#Final").val();

            if (total != null) {

                $.ajax
                    ({
                        type: 'POST',
                        url: '@Url.Action("FormularOrçamento", "NewOrçamento")',
                        data: {
                            OrçamentoId: @Model.OrçamentoId,
                            Items: Itens,
                            Total: Final
                        }

                    })
            }
            else {
                erro = '<div id="erro"><p>Insira algum item no orçamento para prosseguir.</p></div>';
                $('#erro').html(erro);
            }
        }


    </script>
}
