<div class="row itemOrçamento">
    <div class="col">
        <p>@ViewBag.ServiçoCategoria.Categoria.Nome</p>
    </div>
    <div class="col">
        <p>@ViewBag.ServiçoCategoria.Serviço.Nome</p>
        <input class="d-none itemOrçamentoId" value="@ViewBag.ServiçoCategoria.Serviço.Id" />
    </div>
    <div class="col">
        <p class="preço">@ViewBag.ServiçoCategoria.Serviço.PreçoMin.ToString("F")</p>
        <p class="preço">@ViewBag.ServiçoCategoria.Serviço.PreçoMax.ToString("F")</p>
    </div>
</div>
