<div class="container text-center" id="DivSoma">
    <p>Total Mínimo: @ViewBag.TotalMin.ToString("F")</p>
    <p>Total Máximo: @ViewBag.TotalMax.ToString("F")</p>
    <div>
        <p>Total Atual: @ViewBag.Total.ToString("F")</p>
    </div>
    <input class="d-none" id="valorTotalMin" value="@ViewBag.TotalMin" />
    <input class="d-none" id="valorTotalMax" value="@ViewBag.TotalMax" />
    <input class="d-none" id="Final" value="@ViewBag.Total" />
</div>
