<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a href="@Url.Action("Index", "Home", new { area = "" })" class="navbar-brand">SOBOM <i class="bi bi-wrench-adjustable-circle-fill"></i></a>
        <button type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#mainCollapse"
                aria-controls="mainCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainCollapse">
            <ul class="navbar-nav">
                <li class="nav-item nav-link">@Html.ActionLink("Página Inicial", "Index", "Home", null, new { @class = "nav-link" })</li>
                @if (ViewBag.éPessoa == true)
                {
                    <li class="nav-item nav-link">@Html.ActionLink("Carros", "VisualizarCarros", "Carros", null, new { @class = "nav-link" })</li>
                }
                @if (ViewBag.éPessoa == false && ViewBag.éOficina == false && ViewBag.éAdmin == false)
                {
                    <li class="nav-item nav-link">@Html.ActionLink("Cadastro", "Cadastro", "Cadastro", null, new { @class = "nav-link" })</li>
                }
                @if (ViewBag.éOficina == true)
                {
                    <li class="nav-item nav-link">@Html.ActionLink("Oficina", "Page", "Oficina", new { Id = ViewBag.UserID }, new { @class = "nav-link" })</li>
                }
                @if (ViewBag.éOficina == true && ViewBag.éAprovada == true)
                {
                    <li class="nav-item nav-link">@Html.ActionLink("Sugerir Categoria", "Sugerir", "Oficina", null, new { @class = "nav-link" })</li>
                }

            </ul>
            <form class="d-flex mx-auto my-2" method="get" role="search" action="@Url.Action("DataRequestSessions", "Home")">


                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink3" data-bs-toggle="dropdown" aria-expanded="false">
                        Filtrar:
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink3">

                        <input type="radio" name="filter" value="OficinaNome" id="filtro1" checked onchange="exibirCategorias()" />
                        <label for="filtro1">Oficina</label>
                        <br />

                        <input type="radio" name="filter" value="ServiçoCategoria" id="filtro2" onchange="exibirCategorias()" />
                        <label for="filtro2">Serviço</label>
                        <br />

                        <input type="radio" name="filter" value="OficinaBairro" id="filtro3" onchange="exibirCategorias()" />
                        <label for="filtro3">Bairro</label>
                        <br />

                        <label for="importado">Carro Importado?</label>
                        <input type="checkbox" name="importado" id="importado" value="true">

                    </div>
                </div>

                
                <select for="categoria" name="categoria" class="d-none categoriaLayout">
                    <option></option>
                    @foreach (var item in ViewBag.Categorias)
                    {
                        <option value="@item.Nome">@item.Nome</option>
                    }
                </select>
                




                @*<div class="col-md-3">
            <select for="filter" name="filter" onchange="exibirCategorias()" id="filtro" class="form-control text-center">
                <option value="OficinaNome">Oficina</option>
                <option value="ServiçoCategoria">Serviço</option>
                <option value="OficinaBairro">Bairro</option>
            </select>
        </div>*@
                <div class="col-md-10">
                    <label>
                        <input for="navSearch" name="navSearch" class="form-control" type="search" aria-label="Search" id="navSearch" />
                        <span>Search...</span>
                    </label>
                </div>
                <div class="col-md-2">
                    <button type="submit" name="navSubmit" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
                </div>
                @*<div id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        Filtrar
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

                        <input type="checkbox" name="importado" id="importado" value="true">
                        <label for="importado">Carro Importado</label><br>

                    </div>
                </li>
            </ul>
        </div>*@
            </form>
        </div>

        <div class="me-2" id="notificações">

        </div>

        <div class="row">
            <ul class="nav navbar-nav navbar-right">
                @if (ViewBag.éOficina == true)
                {
                    <li class="nav-item nav-link"> <a href="@Url.Action("VisualizarServiços", "Serviços", new {Id = ViewBag.UserID})" class="nav-link"><i class="bi bi-wrench me-2"></i>Serviços</a></li>
                    <li class="nav-item nav-link"> <a href="@Url.Action("VisualizarPeças", "Peças", new {Id = ViewBag.UserID})" class="nav-link"><i class="bi bi-gear me-2"></i>Peças</a></li>
                }
                @if (ViewBag.éPessoa == true)
                {
                    <li class="nav-item nav-link"> <a href="@Url.Action("VisualizarCarros", "Carros")" class="nav-link"><i class="bi bi-car-front-fill me-2"></i>Carros</a></li>
                    <li class="nav-item nav-link"> <a href="@Url.Action("VisualizarAvaliações", "Avaliação")" class="nav-link"><i class="bi bi-list-stars me-2"></i>Avaliações</a></li>
                }
                @if (ViewBag.éPessoa == true || ViewBag.éOficina == true)
                {
                    <li class="nav-item nav-link"> <a href="@Url.Action("VisualizarOrçamentos", "Orçamento")" class="nav-link"><i class="bi bi-clipboard2-fill me-2"></i>Orçamentos</a></li>
                }
            </ul>
        </div>

        @Html.Partial("_LoginPartial")
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <script>

    $('.categoriaLayout').selectize({
        sortField: 'text',
        placeholder: "Categoria..."
    });

    function exibirCategorias() {

        //if ($("#filtro").val() == "ServiçoCategoria") {
        //    $("#importado").addClass("d-none");
        //    $(".categoria").removeClass("d-none");
        //    $("#navbarDarkDropdownMenuLink").addClass("d-none");
        //}
        //else if ($("#filtro").val() != "ServiçoCategoria") {
        //    if (!$(".categoria").hasClass("d-none")) {
        //        $(".categoria").addClass("d-none");
        //        $("#importado").removeClass("d-none");
        //        $("#navbarDarkDropdownMenuLink").removeClass("d-none");
        //    }
        //}

        if ($("input[name='filter']:checked").val() == "ServiçoCategoria") {
            $("#importado").addClass("d-none");
            $(".categoriaLayout").removeClass("d-none");
        }

        else if ($("input[name='filter']:checked").val() != "ServiçoCategoria") {
            if (!$(".categoria").hasClass("d-none")) {
                $("#importado").removeClass("d-none");
                $(".categoriaLayout").addClass("d-none");
            }
        }
    }

    function AtualizarNotificações() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("NotificaçõesPartial", "Home")",
            dataType: "html",
            cache: false,
            success: function (data) {
                $("#notificações").html(data);
            }
        });
    }

    function MarcarComoLido(read) {

        $.ajax({
            type: "GET",
            url: "/Home/MarkAsRead/" + read,
            dataType: "html",
            cache: false,
            success: function () {
                $.ajax({
                type: "GET",
                url: "@Url.Action("NotificaçõesPartial", "Home")",
                dataType: "html",
                cache: false,
                success: function (data) {
                    $("#notificações").html(data);
                    }
                });
            }
        });
    }

    $(document).ready(function () {
        setInterval(function () {
            AtualizarNotificações();
        }, 20000);

        AtualizarNotificações();

        $("#notificações").on("click", 'button.read', function () {
            var read = $(this).val();
            MarcarComoLido(read);
        });

        $("#notificações").on("click", 'a.read', function () {
            var read = $("#notificaçãoInput").val();
            MarcarComoLido(read);
        });
    });

    </script>
</body>
</html>
