
<div class="container">
    @if (ViewBag.Imagem != null)
    {
        <img src="@ViewBag.Imagem.Url" alt="Imagem da Oficina" class="centerOficinaImage img-thumbnail img-responsive" width="150" height="50" />
    }
</div>

<h1 class="text-center">@ViewBag.Oficina.Nome</h1>

<div class="container text-center">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="@Url.Action("EscolhaCarro", "Orçamento", new { Id = ViewBag.Oficina.Id, Value = false })" class="btn btn-primary">Agendar Serviço</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="@Url.Action("EscolhaCarro", "Orçamento", new { Id = ViewBag.Oficina.Id, Value = true })" class="btn btn-secondary">Agendar Análise</a>
        </div>
    </div>
</div>


@if (ViewBag.Serviços != null)
{
    <h2>Serviços:</h2>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                @foreach (var item in ViewBag.Serviços)
                {
                <p>@item.Nome</p>
                }
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                @foreach (var item in ViewBag.Serviços)
                {
                    <p>@item.Preço.ToString("F")</p>
                }
            </div>
        </div>
    </div>
}

<h2 class="mt-4">Fale Conosco:</h2>

@if (ViewBag.CelularTelefone != null)
{
    foreach (var item in ViewBag.CelularTelefone)
    {
        <p>@item.CelularTelefone1</p>
    }

}

<p>@ViewBag.Email</p>

<div class="container text-center mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            @if (ViewBag.Oficina.Id == ViewBag.userID)
            {
                <a href="@Url.Action("EditarOficina", "Oficina", new { Id = ViewBag.Oficina.Id })" class="mt-5">Editar Dados da Oficina</a>
            }
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            @if (ViewBag.Oficina.Id == ViewBag.userID)
            {
                <a href="@Url.Action("VisualizarServiços", "Serviços", new { Id = ViewBag.Oficina.Id })" class="mt-5">Serviços</a>
            }
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            @if (ViewBag.Oficina.Id == ViewBag.userID)
            {
                <a href="@Url.Action("VisualizarPeças", "Peças", new { Id = ViewBag.Oficina.Id })" class="mt-5">Peças</a>
            }
        </div>
    </div>
</div>