

<p><a class="btn btn-info btn-lg mt-4" href="/Serviços/AdicionarServiços">Adicionar Serviços</a></p>
<br />

<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Categoria</th>
    </tr>

    @for (int i = 0; i < ViewBag.Lista.Count; i++)
    {
        <tr>
            <td>@ViewBag.Lista[i].Nome</td>
            <td>@ViewBag.Lista[i].Descrição</td>
            <td>@ViewBag.Lista[i].PreçoMin.ToString("F")</td>
            <td>@ViewBag.Lista[i].PreçoMax.ToString("F")</td>
            <td>@ViewBag.Categorias[i].Nome</td>
            <td>
                @Html.ActionLink("Editar", "EditarServiço", new { Id = ViewBag.Lista[i].Id }) |
                @Html.ActionLink("Excluir", "DeletarServiço", new { Id = ViewBag.Lista[i].Id })
            </td>
        </tr>
    }
</table>
