@model Projeto_TCC_2022.Models.CelularTelefone

@{
    ViewBag.Title = "View";
}

<h2>View</h2>


@using (Html.BeginForm("CadastrarNúmero", "Home", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CelularTelefone</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CelularTelefone1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CelularTelefone1, new { htmlAttributes = new { @class = "form-control", name = "name", @id = "name" } })
                @Html.ValidationMessageFor(model => model.CelularTelefone1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CelularTelefone2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CelularTelefone2, new { htmlAttributes = new { @class = "form-control", name = "name", @id = "name" } })
                @Html.ValidationMessageFor(model => model.CelularTelefone2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CelularTelefone3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CelularTelefone3, new { htmlAttributes = new { @class = "form-control", name = "name", @id = "name" } })
                @Html.ValidationMessageFor(model => model.CelularTelefone3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
