@model Projeto_TCC_2022.Models.CelularTelefone

@{
    ViewBag.Title = "View";
}

<h2>Insira seu número:</h2>


@using (Html.BeginForm("CadastrarNúmero", "Numero", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Telefone Fixo ou Celular</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="CelularTelefone1" class="control-label col-md-2">Telefone ou Celular:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line mt-3" name="CelularTelefone1" , id="CelularTelefone" data-val="true" data-val-length="O campo CelularTelefone1 deve ser uma cadeia de caracteres com um comprimento máximo de 11."
                       data-val-length-max="11" data-val-required="O campo Telefone Celular é obrigatório" data-val-regex-pattern="^[0-9]+$" data-val-regex="Caracteres Inválidos" />
                @Html.ValidationMessageFor(model => model.CelularTelefone1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @if (ViewBag.Novo != null)
    {
        @Html.ActionLink("Retornar para a página inicial", "Index", "Home")
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
