@model Projeto_TCC_2022.Models.Avaliação

@{
    ViewBag.Title = "DeletarAvaliação";
}

<h2>Deletar Avaliação</h2>

<h3>Deseja deletar a seguinte avaliação?</h3>
<div>
    <h4>Avaliação</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @ViewBag.Serviço.Nome
        </dt>

        <dd>
            @ViewBag.Serviço.Nome
        </dd>

        <dt>
            @ViewBag.Oficina.Nome
        </dt>

        <dd>
            @ViewBag.Oficina.Nome
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estrelas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estrelas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "VisualizarAvaliações")
        </div>
    }
</div>
