<h1>Avaliações:</h1>

@for (int i = 0; i < ViewBag.Avaliações.Count; i++)
{
    <div class="row mb-3">
        <div class="col">
            @ViewBag.Avaliações[i].Estrelas
        </div>
        <div class="col">
            @ViewBag.Oficinas[i].Nome
        </div>
        <div class="col">
            @ViewBag.Serviços[i].Nome
        </div>
        <div class="col">
            @ViewBag.Avaliações[i].Texto
        </div>
        <div class="col">
            @Html.ActionLink("Editar", "EditarAvaliação", "Avaliação", new { Id = ViewBag.Avaliações[i].Id }, null)
        </div>
        <div class="col">
            @Html.ActionLink("Excluir", "DeletarAvaliação", "Avaliação", new { Id = ViewBag.Avaliações[i].Id }, null)
        </div>
    </div>
}

